*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color : #272b30;
    --secondary-color : #32383e;
    --main-font : "Comfortaa", cursive ;
    --secondary-font :"Nerko One", cursive;
}
body{
    background-color: var(--main-color);
    font-family: var(--main-font) !important;
}
header img{
    height: 30vh;
    object-fit: cover;
    position: relative;
}
nav{
    background-color: #3A497B !important ;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
}
nav h5{
    font-family: var(--secondary-font) !important;
    font-weight: 400 ;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 -1px -10px;
}
nav h5 img{
    width: 40px;
    vertical-align: middle;
}
nav ul li .nav-link{
    color: white !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    transition: all 0.5s;
}

nav ul li .nav-link:hover{
    color: #0099cc    !important;
}
#gamesBody{
    cursor: pointer;
}
.card{
    
    background-color: var(--main-color) !important;
    filter: grayscale(60%);
    transition: all 0.5s;
}
.card:hover{
    filter: grayscale(0%);
    scale: 1.05;
}
.card-body p{
    font-size: 14px;
}
.card-text h3{
font-family: var(--secondary-font);
font-size: 14px;
font-weight: 500;
line-height: 17px;
color: white;
}
.card-footer .text-bg{
    background-color: var(--secondary-color);
}
.details{
    color: white;
}
.details header{
    padding-top: 30px;
}
.details h1{
    font-family: var(--secondary-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: white;
   

}
.details h3{
    font-family: var(--secondary-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
}
.loader {
    position: relative;
    top: 50px;
    left: 41%;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.55);
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .loader::before {
    content: '';
    position: absolute;
    inset: 20px;
    background: transparent;
    border: 1px dashed#444;
    border-radius: 50%;
    box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
    inset 5px 5px 35px rgba(0,0,0,0.25);
  }
  
  .loader::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px dashed#444;
    box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
    inset 5px 5px 35px rgba(0,0,0,0.25);
  }
  
  .loader span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100%;
    background: transparent;
    transform-origin: top left;
    animation: radar81 2s linear infinite;
    border-top: 1px dashed #fff;
  }
  
  .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: seagreen;
    transform-origin: top left;
    transform: rotate(-55deg);
    filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
  }
  
  @keyframes radar81 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }